<% function content (buf) { %>
<section id="wrapper">
<div id="msg">
<h1>ToneMap</h1>
touch display!<br />
and play sound.
<!-- /#msg --></div>
<!-- /#wrapper --></section>
<% } %><% include layouts/default %>
